{% extends 'base.html.twig' %}

{% block title %}Suivi contrôleurs{% endblock %}

{% block body %}
    {% include 'partials/year-filter.html.twig' %}

    <div class="suivi-container">
        {% include 'partials/filters.html.twig' %}
        {% include 'suivis/_controleurs_results.html.twig' %}
    </div>
{% endblock %}
