:root {
    --box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
    --cts-main: #028eb1;
    --cts-main-light: #ddeff4;
    --cts-alt: #33b4a7;
    --cts-alt-light: #def2f3;
    --text: #fafafa;
    --a-color: orange;
    --a-color-hover: darkorange;
    --nav-a-color: #fafafa;
    --nav-a-color-hover: #ffed74;
    --margin-top: 64px;
    --bg-main-color: linear-gradient(var(--cts-main-light), var(--cts-alt-light));
    --blocks: #fafafa;
    --active: #fafafa;
}

body {
    background: var(--bg-main-color);
    margin: 0;
}

header {
    display: flex;
    width: calc(100% - 40px);
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;

    nav {
        .burger-container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 30px;
            height: 30px;
            background: transparent;
            border: 2px solid var(--cts-main);
            transform: rotate(45deg);
            z-index: 99;

            &:hover {
                #burger {
                    transform: scale(1);
                }
            }

            &.open {
                border-color: red;
            }

            .burgerBtn {
                width: 20px;
                height: 20px;
                transform: rotate(-45deg);
            }

            #burger {
                width: 20px;
                height: 2px;
                background: var(--cts-main);
                display: inline-block;
                position: absolute;
                top: 50%;
                transform: scale(0.8);

                &::before, &::after {
                    content: '';
                    width: 20px;
                    height: 2px;
                    background: var(--cts-main);
                    display: inline-block;
                    position: absolute;
                    transform-origin: center;
                    transition: all 0.5s ease;
                }

                &::before {
                    top: -7px;
                }

                &::after {
                    top: 7px;
                }

                &.open {
                    background: transparent;

                    &::before {
                        transform: rotate(45deg);
                        background: red;
                        top: 0;
                    }

                    &::after {
                        transform: rotate(-45deg);
                        background: red;
                        top: 0;
                    }
                }
            }
        }

        #responsive {
            position: absolute;
            height: calc(100vh - var(--margin-top));
            white-space: nowrap;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            transition: transform .4s ease;
            background: linear-gradient(var(--cts-main), var(--cts-alt));
            margin: 0;
            padding: var(--margin-top) 20px 0 20px;

            &.open {
                transform: translateX(0);
            }

            h1, h2 {
                color: var(--nav-a-color);
                text-align: center;
            }

            h1 {
                font-size: 1.5em;
                margin-bottom: 0;
                padding-top: 10px;
                border-top: 1px solid var(--cts-main-light);
            }

            h2 {
                font-size: 1em;
                margin-top: 10px;
            }

            ul {
                margin: 0 auto;
                padding: 0 0 20px 0;
                list-style-type: none;
                border-bottom: 1px solid var(--bg-main-color);

                li {
                    margin: 5px auto;
                }
            }

            a {
                color: var(--nav-a-color);
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 7px;

                svg {
                    width: 20px;
                }

                &:hover {
                    color: var(--nav-a-color-hover);
                    text-decoration: underline;
                }
            }
        }
    }

    a {
        display: inline-block;
    }

    img {
        display: block;
        width: 100px;
    }
}

main {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}
