.form-wrapper {
    width: 60%;
    margin: 20px auto;
    border-radius: 20px;
    background: var(--blocks);
    box-shadow: var(--box-shadow);
    padding: 40px 20px;
    text-align: center;

    img {
        width: 60%;
    }

    h1 {
        text-align: left;
    }

    form {
        width: 60%;
        margin: auto;

        div {
            width: 100%;

            input:not([type="checkbox"]), select, textarea {
                width: 80%;
            }
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
}

button {
    background: var(--cts-main);
    color: var(--text);
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    margin: auto;
    transition: all .5s ease;

    &:hover {
        background: var(--cts-alt);
        cursor: pointer;
        transform: scale(1.1);
    }
}

input, select, textarea {
    border: 1px solid var(--cts-main);
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
}

.alert {
    width: 60%;
    margin: 0 auto;
    text-align: justify;
    font-weight: bold;
    display: block;

    ul {
        list-style-type: none;
    }
}

.alert-danger {
    color: red;
}

.alert-success {
    color: limegreen;
}
