.form-wrapper {
    width: 60%;
    margin: auto;
    border-radius: 20px;
    background: var(--blocks);
    box-shadow: var(--box-shadow);
    padding: 40px 20px;
    text-align: center;

    img {
        width: 60%;
    }

    h1 {
        text-align: left;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

button {
    background: var(--cts-main);
    color: var(--text);
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    font-weight: bold;

    &:hover {
        background: var(--cts-alt);
        cursor: pointer;
    }
}
