.line {
    width: 300px;
    justify-content: space-between;
}

.remember-me {
    font-size: small;
    justify-content: flex-end;
    gap: 0;
}

.forgot-pass {
    text-decoration: none;
    color: red;
    font-weight: bold;

    &:hover {
        color: var(--cts-main);
    }
}
