.salaries-list {
    th, td {
        padding: 5px;
    }

    input:not([type="checkbox"]), select {
        border: none;
        background: none;
        padding: 0;
    }

    button:disabled {
        background: lightgrey;
        cursor: default;

        &:hover {
            transform: none;
        }
    }
}
