.table-container {
    opacity: 0;
    transition: opacity 2s ease-in-out;

    &.visible {
        opacity: 1;
    }
}

.table-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    transition: opacity .4s ease;
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 250px);

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px solid var(--cts-alt-light);
        border-top: 4px solid var(--cts-main);
        border-radius: 50%;
        animation: spin 1s linear infinite;
        margin-bottom: 10px;
    }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.salaries-list {
    input:not([type="checkbox"]), select {
        border: none;
        background: none;
        padding: 0;
    }
}
