{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Profil de {{ user.username }}</h1>
    <h2>
        {% if ('ROLE_ADMIN' in user.roles) %}
            Administrateur
        {% else %}
            Utilisateur
        {% endif %}
    </h2>
{% endblock %}
