.users-container {
    width: 80%;
}

.degrade {
    background: red;
    width: 200px;

    &:hover {
        background: darkred;
    }
}

.promote {
    background: limegreen;
    width: 200px;

    &:hover {
        background: darkgreen;
    }
}

.delete {
    border: 2px solid red;
    border-radius: 100%;
    background: white;
    color: red;
    font-weight: bold;
    padding: 5px 10px;
    aspect-ratio: 1 / 1;

    &:hover {
        background: red;
        color: white;
    }
}
