.suivi-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 95%;
    margin: 0 auto 20px auto;
}

.pro-stats-container, .stats-container {
    gap: 20px;
    width: calc(100% - 40px);
    max-height: 80vh;
    padding: 20px;
    background: var(--cts-main);
    border-radius: 10px;
    position: relative;
    box-shadow: var(--box-shadow);

    h2 {
        margin: 10px 0;
        padding: 5px 20px;
        position: sticky;
        top: 0;
        background: var(--blocks);
        font-size: 1em;
        z-index: 3;
    }
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.pro-stats-container {
    display: flex;
    flex-direction: column;

    .table-wrapper {
        width: 100%;
        box-shadow: var(--box-shadow);
    }

    .table-pros {
        tbody tr:hover {
            filter: brightness(.9);
        }

        td {
            background: var(--blocks);
            text-align: center;

            &:first-child {
                white-space: wrap;
                text-align: left;
            }
        }

        .malus {
            background: #de8383;
        }

        .bonus {
            background: #94e594;
        }

        .decreased, .increased {
            font-weight: bold;
        }

        .decreased {
            color: red;
        }

        .increased {
            color: #12ba12;
        }
    }
}

.stats-wrapper {
    width: 100%;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 0;
    background: var(--blocks);
    overflow: hidden;

    &:last-child {
        grid-column: 1 / -1;
    }
}

.stats-panel {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.salaries-chart {
    width: 95%;
    margin: auto;
    position: relative;
    display: flex;
    gap: 10px;

    .salarie-name, .bar-container, .salarie-row {
        white-space: nowrap;
        font-size: 1em;
    }

    .salarie-name, .salarie-row {
        margin: 5px 0;
    }

    .salarie-name {
        text-align: right;
    }

    .bars {
        position: relative;
        flex: 1;

        .avg-line {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 2px;
            background: red;
            z-index: 10;
            pointer-events: none;
        }

        .avg-line span {
            position: sticky;
            top: 40px;
            transform: translateX(-60%);
            padding: 5px;
            background: red;
            color: white;
            white-space: nowrap;
        }

        .bar-container, .bar {
            box-sizing: border-box;
        }

        .bar-container {
            background: rgba(0, 0, 0, 0.2);
            margin: 15px 0;

            &:first-child {
                margin-top: 11px;
            }

            &:last-of-type {
                margin-bottom: 5px;
            }
        }

        .bar {
            background: linear-gradient(90deg, var(--cts-main), var(--cts-alt));
            color: white;
            padding: 4px 0;
            white-space: nowrap;
            border-radius: 4px;
        }

        .stacked-bar {
            display: flex;
            height: 18px;
            overflow: hidden;
            background: var(--cts-alt-light);
            margin: 5px 0;
        }

        .bar-part {
            background-color: var(--cts-main);
            height: 100%;
        }

        .bar-pro {
            background-color: var(--cts-alt);
            height: 100%;
        }

        .bar-part, .bar-pro {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bold;
            font-size: .8em;
        }

        .bar-container, .repartition-bars-container {
            flex: 1;
            border-radius: 4px;
            display: flex;
            align-items: center;
            padding: 0;
        }
    }

    .nb {
        text-align: right;
    }
}

@media screen and (max-width: 764px) {
    .stats-container {
        display: flex;
        flex-wrap: wrap;
        max-height: none;
    }
}
