.annees-filter {
    margin: 20px auto;
    z-index: 100;

    a {
        padding: 15px 20px;
        background: var(--cts-main);
        border-radius: 10px;
        margin: 0 20px;
        text-decoration: none;
        font-weight: bold;
        color: var(--nav-a-color);

        &:hover {
            background: var(--cts-alt);
            color: var(--nav-a-color);
        }
    }

    .active {
        background: var(--active);
        border: solid 1px var(--cts-main);
        color: var(--cts-main);
        padding: 14px 19px;

        &:hover {
            border: none;
            padding: 15px 20px;
        }
    }
}

.suivi-container {
    width: 80%;
    min-height: 100%;
    background: var(--blocks);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}
