.table-wrapper {
    max-height: 70vh;
    overflow: auto;
    border-radius: 10px;
    border: 2px solid var(--cts-main);
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: .9em;
    white-space: nowrap;

    thead {
        position: sticky;
        top: 0;
        background: var(--cts-main);
        color: var(--text);
        text-align: center;
        z-index: 2;

        tr {
            box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);

            th {
                padding: 5px;
            }
        }
    }

    th.sorted-asc::after {
        content: ' ↑';
    }

    th.sorted-desc::after {
        content: ' ↓';
    }

    td {
        border: 1px solid var(--cts-main-light);
        padding: 5px 10px;

        &:first-child {
            border-left: none;
        }

        &:last-child {
            border-right: none;
        }

        &.table-action {
            text-align: center;
        }
    }

    .int-row {
        text-align: center;
    }

    .total-row {
        background: var(--cts-main-light);
        font-weight: bold;
        text-align: center;
    }
}
